<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-around center"
>
  <mat-card>
    <mat-card-title>
      <h2>Sign-In for Admin Pannel</h2>
    </mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginform">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Ex. xyz"
            id="adminname"
            formControlName="adminname"
            required
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="********"
            id="adminpassword"
            type="password"
            formControlName="adminpassword"
            required
          />
        </mat-form-field>
        <div class="mx-auto text-center my-3">
          <table>
            <tr>
              <td><label>Select Profile:</label></td>

              <td class="checkbox-group ps-2 pt-1">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="option1"
                    name="options"
                    formControlName="options"
                    value="2"
                  />
                  <label class="form-check-label" for="option1"
                    >Super Admin</label
                  >
                </div>
              </td>

              <td class="checkbox-group ps-2 pt-1">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="option1"
                    name="options"
                    formControlName="options"
                    value="1"
                  />
                  <label class="form-check-label" for="option1">Admin</label>
                </div>
              </td>

              <!-- <td class="checkbox-group ps-2 pt-1">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="option1"
                    name="options"
                    formControlName="options"
                    value="1"
                  />
                  <label class="form-check-label" for="option1">Admin 2</label>
                </div>
              </td> -->
            </tr>
          </table>
        </div>
        <div
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutAlign="space-around center"
          fxLayoutGap="25px"
        >
          <div class="mx-auto text-center">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="btn"
              (click)="loginpost_data()"
            >
              Login
            </button>
          </div>
          <!-- <a routerLink="/register" mat-raised-button color="accent"
            >Back to Register</a
          > -->
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
